[submodule "molstar"]
	path = molstar
	url = https://github.com/MadCatX/molstar.git
	branch = rednatco
[submodule "jsllka"]
	path = jsllka
	url = git@gitlab.cesnet.cz:madcatxster/jsllka.git
[submodule "tscif"]
	path = tscif
	url = git@gitlab.cesnet.cz:madcatxster/tscif.git
[submodule "tspdb"]
	path = tspdb
	url = git@gitlab.cesnet.cz:madcatxster/tspdb.git
