[submodule "jsLLKA"]
	path = jsLLKA
	url = git@gitlab.cesnet.cz:madcatxster/jsLLKA
[submodule "molstar"]
	path = molstar
	url = https://github.com/MadCatX/molstar.git
[submodule "jsllka"]
	path = jsllka
	url = git@gitlab.cesnet.cz:madcatxster/jsllka.git
