/* vim: set sw=4 tw=4 sts=4 expandtab : */

:root {
    --anim-speed: 200ms;

    --h-gap: 1em;
    --v-gap: 0.5em;
    --x-gap: 1em;
    --h2-gap: 0.5em;

    --color-a: #aaa;
    --color-b: #ccc;
    --color-c: #f0f0f0;
    --color-d: #4caf50;
    --color-e: #265b6a;
    --color-f: grey;
    --color-x: #9e9e9e;
    --color-y: #616161;

    --font-small: 10pt;
    --font-large: 14pt;
    --font-xxlarge: 22pt;
    --font-mega: 32pt;
    --font-uber: 48pt;

    --thickness-border: 2px;
}

html {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
}

body {
    height: 100vh;
    margin: 0;
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
}

input.rdo-input-checkbox {
    background: none;

    border: var(--thickness-border) solid var(--color-b);
    height: 1em;
    width: 1em;

    transition: background-color var(--anim-speed);
}
input.rdo-input-checkbox:checked {
    background-color: var(--color-a);
}
input.rdo-input-checkbox-disabled {
    background-color: var(--color-b);
}

.rdo-input-checkbox-tainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.rdo-input-number {
    background: none;

    border: var(--thickness-border) solid var(--color-b);

    transition: background-color var(--anim-speed);
}
input.rdo-input-number:disabled {
    color: black;
    background-color: var(--color-a);
}
input.rdo-input-number:focus {
    outline: none;
}

input.rdo-input-text {
    background: none;

    border: var(--thickness-border) solid var(--color-b);

    transition: background-color var(--anim-speed);
}
input.rdo-input-text:disabled {
    color: black;
    background-color: var(--color-a);
}
input.rdo-input-text:focus {
    outline: none;
}

input.rdo-input-file {
    display: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    box-sizing: border-box;
}

#app {
    height: 100%;
    margin: 0;
}

#rdo-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rdo-big-logo-container {
    background-color: var(--color-f);
    display: flex;
    height: 20em;
    justify-content: center;
}

.rdo-collapsible-vertical-caption {
    background-color: var(--color-f);
    color: var(--color-c);
    padding: calc(0.5 * var(--x-gap));
    transition: background-color var(--anim-speed);
}
.rdo-collapsible-vertical-caption:hover {
    background-color: var(--color-c);
    color: black;
}

.rdo-combobox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: none;
    color: black;
    padding: 0.15em 1em 0.15em 0.15em;
    transition: background-color 222ms;
    z-index: 2;
}

.rdo-combobox-arrow {
    align-items: center;
    color: black;
    display: flex;
    height: 100%;
    width: 1em;
    right: 0;
    position: absolute;
    z-index: 1;
}

.rdo-combobox-arrow > img {
    width: 1.0em;
    height: 1.0em
}

.rdo-combobox-container {
    border: var(--thickness-border) solid var(--color-b);
    display: flex;
    justify-content: center;
    position: relative;
    transition: background-color 222ms;
    width: min-content;
}

.rdo-combobox-container-disabled {
    background-color: var(--color-a);
}

.rdo-data-table {
    border-collapse: collapse;
}

.rdo-data-table-wide {
    width: 100%;
}

td.rdo-data-table {
    border: var(--thickness-border) solid var(--color-a);
    padding: 0.2em;
}

td.rdo-data-table-selected {
    background-color: yellow;
}

td.rdo-numeric-table {
    border: var(--thickness-border) solid var(--color-a);
    font-family: monospace, monospace;
    padding: 0.2em;
    text-align: right;
}

th.rdo-data-table {
    background-color: var(--color-a);
    border: var(--thickness-border) solid var(--color-a);
    padding: 0.2em;
}

.rdo-dnatco-main-screen {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    width: 100%;
}

.rdo-email {
    text-decoration: none;
}

.rdo-emphasize {
    font-style: oblique;
}

.rdo-error-text {
    color: red;
}

.rdo-footer {
    background-color: var(--color-y);
    height: 3em;
}

.rdo-footer-icon-button {
    height: 3em;
    transition: background-color var(--anim-speed);
}
.rdo-footer-icon-button:hover {
    background-color: var(--color-d);
}

.rdo-footer-icon-button-image {
    padding: 0.5em;
}

.rdo-footer-gutter {
    background-color: var(--color-x);
    height: 0.5em;
}

.rdo-footer-text {
    color: white;
    font-size: var(--font-small);
    text-align: center;
}

.rdo-icon-button {
    flex: 1;
    object-fit: contain;
}

.rdo-icon-button-image {
    margin: 0.25em;
}

.rdo-icon-text-button {
    border: var(--thickness-border) solid var(--color-b);
    object-fit: contain;
    transition: background-color var(--anim-speed);
}
.rdo-icon-text-button:hover {
    background-color: var(--color-a);
}

.rdo-icon-text-button-disabled {
    background-color: var(--color-b);
    border: var(--thickness-border) solid var(--color-b);
    object-fit: contain;
}

.rdo-line-spacer {
    height: 1em;
}

table.rdo-list-of-conformers {
    border-collapse: collapse;
}

table.rdo-list-of-conformers td, table.rdo-list-of-conformers th {
    padding: 0.2em;
}

td.rdo-list-of-conformers-bb , th.rdo-list-of-conformers-bb {
    border-bottom: var(--thickness-border) solid black;
}

td.rdo-list-of-conformers-rb , th.rdo-list-of-conformers-rb {
    border-right: var(--thickness-border) solid black;
}

td.rdo-list-of-conformers-tb , th.rdo-list-of-conformers-tb {
    border-top: var(--thickness-border) solid black;
}

tr.rdo-list-of-conformers-alternate-clr {
    background-color: #eeeeee;
}

.rdo-list-of-conformers-highlighted-col {
    background-color: #fffdef;
}

.rdo-list-of-conformers-highlighted-row {
    background-color: #eeffde;
}

.rdo-monospace {
    font-family: monospace, monospace;
}

.rdo-named-list {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--h-gap);
}

.rdo-named-list-centered {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-column-gap: var(--h-gap);
    margin: auto;
}

.rdo-named-list-vcentered {
    align-items: center;
}

.rdo-named-list-name {
    font-weight: bold;
}

.rdo-navigation-bar {
    background-color: var(--color-b);
    display: flex;
}

.rdo-navigation-bar-padder {
    flex: 5;
}

.rdo-offset {
    height: calc(100% - 2*var(--x-gap));
    margin: var(--x-gap);
    width: calc(100% - 2*var(--x-gap));
}

.rdo-plot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rdo-popup {
    background-color: rgba(0,0,0,.12);
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}

.rdo-popup-button-bar {
    display: flex;
}

.rdo-popup-inner {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 33%;
    padding: var(--x-gap);
    position: relative;
    top: 50%;
}

.rdo-prevcurrnext {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.2em;
    border: var(--thickness-border) solid transparent;

    transition: border-color var(--anim-speed);
}

.rdo-prevnext-active {
    border-color: var(--color-b);
}

.rdo-pushbutton {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color var(--anim-speed);
}
.rdo-pushbutton:hover {
    background-color: var(--color-b);
}

.rdo-pushbutton-border {
    border: var(--thickness-border) solid var(--color-b);
}

.rdo-pushbutton-disabled {
    background-color: var(--color-a);
}

.rdo-pushbutton-text {
    font-weight: bold;
    font-family: sans-serif;
    margin: 0.15em;
}

.rdo-pushbutton-text-disabled {
    color: var(--color-a);
    font-weight: bold;
    font-family: sans-serif;
}

.rdo-primary-caption {
    font-size: var(--font-xxlarge);
    font-weight: bold;
    padding: calc(var(--x-gap) / 2);
    text-align: center;
}

.rdo-screen-with-side-panel {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    width: 100%;
}

.rdo-scroll-vertically {
    height: 100%;
    overflow-y: scroll;
}

.rdo-secondary-caption {
    font-size: var(--font-large);
    font-weight: bold;
    padding: calc(var(--x-gap) / 2);
    text-align: center;
}

.rdo-section-caption {
    font-size: var(--font-large);
    margin-bottom: var(--v-gap);
    text-align: center;
}

.rdo-section-column {
    display: flex;
    flex-direction: column;
    gap: var(--v-gap);
}

.rdo-section-line {
    display: flex;
    gap: var(--h-gap);
}

.rdo-shadowed-box {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    height: 100%;
    width: 100%;
}

.rdo-side-switching-panel {
    display: flex;
    flex-direction: column;
}

.rdo-side-switching-panel-item {
    align-items: center;
    display: flex;
    padding: var(--x-gap);
    transition: background-color var(--anim-speed), color var(--anim-speed);
}

.rdo-side-switching-panel-item-not-last {
    border-bottom: 2px solid var(--color-c);
}

.rdo-side-switching-panel-item-deselected {
    background-color: var(--color-f);
    color: var(--color-c);
}
.rdo-side-switching-panel-item-deselected:hover {
    background-color: var(--color-c);
    color: black;
}

.rdo-side-switching-panel-item-selected {
    background-color: var(--color-c);
}

.rdo-side-switching-panel-item-text {
    font-weight: bold;
}

.rdo-side-switching-panel-padder {
    background-color: var(--color-f);
    flex: 1;
}

.rdo-spinbox-container {
    background-color: white;
    border: 0.15em solid #ccc;
    border-radius: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.rdo-spinbox-button {
    flex: 1;
    height: 0.6em;
    text-align: center;
}
.rdo-spinbox-button:hover {
    background-color: var(--color-a);
}

.rdo-spinbox-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.05em;
    margin: 0.1em;
}

.rdo-spinbox-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
}
.rdo-spinbox-input:focus {
    outline: none;
}

.rdo-tab-button {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--h-gap);
    justify-content: center;
    padding: 0.5em;
    transition: background-color var(--anim-speed);
}
.rdo-tab-button-enabled:hover {
    background-color: var(--color-d);
}
.rdo-tab-button-disabled {
    align-items: center;
    background-color: var(--color-f);
    color: var(--color-c);
    display: flex;
    flex: 1;
    gap: var(--h-gap);
    padding: 0.5em;
    transition: background-color var(--anim-speed);
}
.rdo-tab-button-selected {
    background-color: var(--color-d);
}

.rdo-tab-button-icon {
    width: 1em;
    height: 1em;
}

.rdo-tab-button-text {
    font-size: var(--font-large);
    text-transform: uppercase;
}

.rdo-tab-button-text-nocaps {
    font-size: var(--font-large);
    text-transform: none;
}

.rdo-tab-content-container {
    flex: 1;
    overflow: hidden;
}

.rdo-talgn-center {
    text-align: center;
}

.rdo-talgn-right {
    text-align: right;
}

.rdo-text-large {
    font-size: var(--font-large);
}

.rdo-text-xxlarge {
    font-size: var(--font-xxlarge);
}

.rdo-text-mega {
    font-size: var(--font-mega);
}

.rdo-text-uber {
    font-size: var(--font-uber);
}

.rdo-tooltip {
    display: inline-flex;
    position: relative;
}

.rdo-tooltip-text {
    box-shadow: 0 0 5px 2px var(--color-b);
    background-color: var(--color-c);
    border: 2px solid var(--color-b);
    padding: 0.2em;
    position: absolute;
    transition: opacity var(--anim-speed);
    z-index: 99;
}

.rdo-tooltip-text-faded {
    opacity: 0;
}

.rdo-view-visualizer-container {
    flex: 1;
    overflow: hidden;
}

.rdo-width-limiter {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--x-gap);
    padding-right: var(--x-gap);
    max-width: 100em;
}

/*
 * Styles intended to be used by HTML text assets.
 *
 * It is safe to modify these styles without the risk of breaking
 * the layout of the rest of the application.
 *
 * All styles intended for use with HTML text assets should be prefixed with "rdo-txa-"
 *
 */

.rdo-txa-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

.rdo-txa-image-tainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--x-gap);
}

.rdo-txa-section-caption {
    font-size: var(--font-large);
    font-weight:bold;
    margin-bottom: var(--v-gap);
    text-align: left;
}

.rdo-txa-subsection-caption {
    margin-bottom: var(--v-gap);
    font-style: oblique;
}

.rdo-txa-sup {
    vertical-align: super;
    font-size: var(--font-small)
}

.rdo-txa-bold {
    font-weight: bold ;
}

a.rdo-txa-link {
    color: black;
}

ul.rdo-txa-list {
    list-style-type: square;
}
